.navbar-footer-container {
    display: none;
}

@media (max-width: 1024px) {
    .navbar-footer-container {
        display: block;
        height: 62px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;

        .navbar-footer-content {
            padding: 4px 15px;
            height: 100%;

            .footer-navbar-item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    list-style-type: none;

                    a {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        color: #000000;
                        padding: 8px;
                        font-size: 12px;

                        span {
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
}
