.forgot-password-container {
    padding-bottom: 80px;

    .forgot-password-heading {
        font-size: 20px;
        font-weight: 700;
        padding: 37px 0 25px 0;
    }

    .forgot-password-subheading {
        font-size: 12px;
        color: #333;
    }

    .forgot-password-form {
        padding: 55px 60px 60px 0;
    }

    div {
        justify-self: flex-start !important;
        // align-items: flex-start !important;
        text-align: left !important;
    }

    .ant-form-item-label {
        margin-bottom: 12px;
    }

    .ant-form-item-row {
        flex-direction: column;
        margin-bottom: 24px !important;
        padding-bottom: 44px;
    }

    .ant-form-item-control-input {
        border: 0;
    }

    input {
        border-radius: 0 !important;
    }

    .ant-input-password {
        border-radius: 0;
    }
}
