@import "../../variable.scss";

.navbar {
    width: 100%;
    height: 52px;
    padding: 0 12px;
    background-color: #282e3f;

    .navbar-content {
        max-width: 85%;
        padding: 0 6px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $text-color;

        span {
            padding: 0 8px;
        }

        ul {
            list-style-type: none;
        }

        .subgroup-item {
            padding: 8px 24px;
            font-size: 13px;

            &:hover {
                background-color: #8b8b8b;
            }

            a {
                text-decoration: none;
                color: $text-color;
                width: 132px;
                display: block;
            }
        }

        .nav-dashboard {
            padding: 16px 20px;
            position: relative;

            &:hover > .dash-board-sub-group {
                display: block;
            }

            .dash-board-main-group {
            }

            .dash-board-sub-group {
                padding: 8px 0;
                display: none;
                position: absolute;
                top: 54px;
                background-color: #282e3f;
                border: 1px solid $text-color;
                border-top: none;
                animation: dropDownAnimation 0.5s alternate;
            }
        }

        .nav-app {
            padding: 16px 20px;
            position: relative;

            &:hover > .app-sub-group {
                display: block;
            }

            .app-main-group {
            }

            .app-sub-group {
                padding: 8px 0;
                display: none;
                position: absolute;
                top: 54px;
                background-color: #282e3f;
                border: 1px solid $text-color;
                border-top: none;
                animation: dropDownAnimation 0.5s alternate;
            }
        }
    }
}

@keyframes dropDownAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
