#container {
  position: relative;
  min-height: 100vh;
  background-color: #222736;

  //common class

  .flex-h100 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(24px * -0.5);
    margin-right: calc(24px * -0.5);
    margin-top: calc(0px * -1);
  }

  .card {
    background-color: #2a3042;
    border-radius: 6px;
    margin-bottom: 24px;
  }

  //end common class
}
