.register-container {
    .register-heading {
        font-size: 20px;
        font-weight: 700;
        padding: 37px 0 25px 0;
    }

    .register-form {
        padding: 55px 60px 60px 0;
    }

    div {
        justify-self: flex-start !important;
        // align-items: flex-start !important;
        text-align: left !important;
    }

    .ant-form-item-label {
        margin-top: 12px;
    }

    .ant-form-item-row {
        flex-direction: column;
        margin-top: 24px !important;
        padding-bottom: 44px;
    }

    .ant-form-item-control-input {
        border: none;
    }

    input {
        border-radius: 0 !important;
    }

    .ant-input-password {
        border-radius: 0;
    }

    .login-form-button {
        margin-top: 60px !important;
        position: relative;
    }
}
