.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    height: 220px;
    position: relative;

    .header-slider {
        height: 36px;
        background-color: #ffe8e8;
        display: inline-block;
        text-align: right;
        white-space: nowrap;
        width: 100%;
        overflow-x: hidden;

        .child {
            display: inline-block;
            width: 20%;
        }

        .slider-scroll {
            text-align: right;
            animation: slideLeft 5s infinite linear;

            span {
                text-transform: uppercase;
                line-height: 36px;
                font-size: 12px;
                color: #b05d5d;
            }
        }
    }

    .header-center {
        height: 140px;
        max-width: 1200px;
        padding: 15px 0 16px 0;
        margin: 0 auto;

        .header-content {
            display: flex;
            align-items: center;
            height: 100%;
            .header-left {
                height: 100%;
                img {
                    display: block;
                    height: 100%;
                }
            }

            .header-right {
                width: 100%;
                font-size: 12px;
                color: #323232;
                .top {
                    margin-bottom: 14px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 32px;

                    span {
                        margin-left: 8px;
                    }

                    div {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            display: block;
                            height: 100%;
                            transform: scale(0.5);
                        }
                    }
                }
                .center {
                    margin: 12px 0;
                    justify-content: flex-end;
                    font-weight: bold;
                    letter-spacing: 1px;
                }

                .bottom {
                    justify-content: flex-end;

                    .header-cart {
                        cursor: pointer;
                        div {
                            margin-left: 8px;
                        }

                        .number-cart {
                            background-color: #ffe5e8;
                            border-radius: 50%;
                            width: 24px;
                            height: 24px;
                            text-align: center;
                            line-height: 24px;
                        }
                    }

                    .header-wish-list {
                        cursor: pointer;
                        margin-left: 24px;

                        span {
                            padding-left: 8px;
                        }
                    }

                    .header-signup {
                        margin-left: 24px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .header-navbar {
        height: 44px;
        background-color: #999;
    }
}

@keyframes slideLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
