.app-page {
    padding: 32px 6px 0 6px;
    height: 100vh;
    .app-page--header {
        color: #fff;
        padding-bottom: 24px;

        .title {
            text-transform: uppercase;
            font-weight: 500;
        }
        .location-path {
            a,
            span {
                color: #fff;
                text-transform: capitalize;
                text-decoration: none;
                font-size: 13px;
            }
        }
    }

    .content {
        height: 100vh;
    }
}
